@use '../abstracts' as *;

.header-middle{
    width: 45%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
    @include lg{
        font-size: 18px;
    }
    @include sm{
        display: none;
    }
   
}
.header-middle a{
    font-family: 'Inter-Medium';
    font-weight: medium;
    color: white;
}
.header-middle a:hover{
    color: #B9F2A1;
;
}