@use '../abstracts' as *;

.plan-card{
    width: 39rem;
    height: 67rem;
    @include flex-element('', 4rem);
    flex-direction: column;
    border-radius: 1rem;
    border: 3px solid #659365;
    padding: 3.5rem;
    background-color: white;
    color: black;
    margin: auto;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 13px 20px 0px #00000026;
}
.plan-card:nth-child(2){
    height: 73rem;
    // border: none;
}
.plan-card > div{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.plan-card > div > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.plan-card h2{
    @include center;
    font-family: 'Poppins-Regular';
    @include font(45px,normal);
}
.plan-card span{
    font-family: 'Poppins-Regular';
    @include font(20px, normal);
    color: #999999;
}
.plan-card h3{
    font-family: 'Poppins-Medium';
    @include font(37px, normal);
}
.plan-card > div > div > div{
    font-family: 'Poppins-Regular';
    @include font(20px, normal);
    display: flex;
    text-align: left;
    gap: 2rem;
}
.plan-card button{
    @include greenbutton;
    margin: 0 auto;
}
.plan-card:nth-child(1){
    border-width: 3px 0px 3px 3px;
}
.plan-card:nth-child(3){
    border-width: 3px 3px 3px 0px;
    border-color: black;
}
.plan-card:hover{
    background: linear-gradient(195.44deg, #073340 3.29%, #659365 100%);
    color: white;
    div img{
        filter: brightness(0) saturate(100%) invert(95%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(119%) contrast(101%);
    }
}