@use '../abstracts' as *;

.portfolio > div:nth-child(2){
    display: grid;
    grid-template-areas: 
    "a b d d e f"
    "a c d d g g"
    "j j i h g g"
    ;
}
.portfolio-card > div{
    display: none;
}
.portfolio-card > img {
    width: 100%;
    height: 100%;
}
.portfolio-card:nth-child(1){
    grid-area: a;
}
.portfolio-card:nth-child(2){
    grid-area: b;
}
.portfolio-card:nth-child(3){
    grid-area: c;
}
.portfolio-card:nth-child(4){
    grid-area: d;
}
.portfolio-card:nth-child(5){
    grid-area: e;
}
.portfolio-card:nth-child(6){
    grid-area: f;
}
.portfolio-card:nth-child(7){
    grid-area: g;
}
.portfolio-card:nth-child(8){
    grid-area: h;
}
.portfolio-card:nth-child(9){
    grid-area: i;
}
.portfolio-card:nth-child(10){
    grid-area: j;
}
.portfolio-card{
    position: relative;
}
.portfolio-card > div{
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    opacity: 0; 
    transition: opacity 1s ease;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background: #0000009E;
    align-content: center;
}
.portfolio-card > div > div{
    width: 45%;
    position: absolute;
    bottom: 10%;
}
.portfolio-card > div >img{
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 3.5rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(2deg) brightness(103%) contrast(102%);
}
.portfolio-card h4{
    font-family: "Inter-Bold";
    @include font(24px, normal);
    color: white;
    line-height: 29px;
    padding-bottom: 1rem;
}
.portfolio-card p{
    @include lorem;
    color: #9D9C9C;
    @include font(12px, normal);
    line-height: 14.5px;
}
.portfolio-card:hover > div{
    opacity: 1; 
}
