@use '../abstracts' as *;

.footer{
    width: 100%;
    background-color: #131313;
}
.footer-wrapper{
    width: 100%;
    padding: 6rem 10rem;
    color: white;
    @include flex-element;
    gap: 6rem;
    @include lg{
        padding: 6rem 3rem;
    }
    @include sm{
        gap: 3rem;
    }
}
.footer-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    line-height: 2.2rem;
    @include sm{
        gap: 2rem;
    }
    
}
.footer-left h2{
    font-family: 'Inter-Bold';
    font-size: 36px;
    @include sm{
        font-size: 18px;
    }
}
.footer-left p{
    font-family: 'Inter-Regular';
    font-size: 18px;
    @include lg{
        font-size: 11px;
        line-height: 13px;
    }
    @include sm{
        font-size: 8px;
    }
}
.footer-left ul{
    display: flex;
    gap: 3.5rem;
    @include sm{
        gap: 2rem;
    }
}
.footer-left li{
    color: white;
    @include sm{
        width: 1rem;
        height: 1rem;
    }
}
.footer-right{
    width: 60%;
    @include flex-element;
    @include md{
        width: 75%;
    }
}
.footer-right div{
    @include flex-element;
    flex-direction: column;
}
.footer-right h3 {
    font-family: 'Inter-Bold';
    font-size: 24px;
    @include sm{
        font-size: 13px;
    }
    
}
.footer-right a{
    font-family: 'Inter-Bold';
    font-size: 16px;
    color: white;
    @include sm{
        font-size: 8px;
    }
}
