@use '../abstracts' as *;

.header{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}
.header p{
    font-family: 'Inter-Bold';
    @include font(36px, bold);
    color: white;
}

.header-right b{
    width: 16.1rem;
    height: 6rem;
    font-family: 'Inter-Bold';
    @include font(22px, bold);
    @include greenbutton;
    border-radius: 18px;
    padding: 18px 25px;
}

