*{
    margin: 0;
    padding: 0;
}
.container{
    background: linear-gradient(284.05deg, #073340 3.71%, #659365 119.58%);
}
.header{
    width: 90%;
    margin: auto;
    padding-top: 55px;
    display: flex;
    justify-content: space-evenly;
}
.header p{
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 22px;
}
.header-middle{
    width: 40%;
}
.header-middle a{
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-weight: medium;
    color: white;
}
.header-right b{
    width: 120px;
    height: 30px;
    background: #B9F2A1;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    border-radius: 15px;
    padding: 15px 25px;
}

