@use '../abstracts' as *;

*{
    margin: 0;
    padding: 0;
}   
.header{
    width: 100%;
    margin: auto;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
}
.header p{
    font-family: 'Inter-Bold',sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: white;
}

.header-right b{
    width: 16.1rem;
    height: 6rem;
    font-family: 'Inter-Bold';
    @include font(22px, bold);
    @include greenbutton;
    border-radius: 18px;
    padding: 18px 25px;
}

