@use '../abstracts' as *;
@forward 'footer';
@forward 'header';

.first-image{
    width: 100%;
    border-radius: 0 0 0 20%;
    clip-path: polygon(100.1% 0%, 100.1% 89.3%, 23.2% 100.3%, 0% 100.3%, 0% 0%);
    background: linear-gradient(275deg, #073340 1.31%, #659365 120.07%);
   
}
@include md{
    .first-image{
        height: 90rem;
        border-radius: 0 0 0 9rem;
        clip-path: polygon(100.1% 0%, 100.1% 93%, 20.1% 100.3%, 0% 100.3%, 0% 0%);
    }
}
@include sm{
    .first-image{
        height: 110rem;
    }
    
}
.body-content, .digital, .plan, .contact{
    width: 100%;
    padding: 0 14rem;  
    @include lg{
        padding: 0 6rem;
    } 
    @include md{
        padding: 0 2rem;
    }
}
