    <div class="body-content">
        <div class="header">
            <p>DIGITREND</p>
            <div class="header-middle">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About US</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Porfolio</a></li>
                </ul>
            </div>
            <div class="header-right">
                <b>Contact US</b>
            </div>
        </div>
    </div>
    

