<div class="body-content">
    <div class="header">
        <img src="../assets/icons/menu-line.svg" alt="">
        <p>DIGITREND</p>
        <div class="header-middle">
            <include 
                src="./components/menus.html"
                locals='{
                "menus": "[`Home`, `About US`, `Service`, `Prcing`, `Portfolio`]"
                }'
            >
            </include>
        </div>
        <div class="header-right">
           <a href="">Contact US</a> 
        </div>
    </div>
</div>
    

