<div class="body-content">
    <div class="agency">
        <div class="agency-left">
            <h2>Your Trusted Digital <br> <b>Agency</b> Partner</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Semper a <br> interdum purus velit ullamcorper.</p>
            <div class="butt">
                <div class="butt-left">Get Started</div>
                <div class="butt-right">Explore More</div>
            </div>
        </div>
            <img src="../assets/icons/agency_ic.svg" alt="">
    </div>
    <div class="clients">
        <div class="clients-top">
            <h2>OUR CLIENTS</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Semper a interdum <br> purus velit ullamcorper.</p>
        </div>
        <div class="clients-bott">
            <img src="../assets/icons/airnbn_ic.svg" alt="">
            <img src="../assets/icons/github_ic.svg" alt="">
            <img src="../assets/icons/spotify_ic.svg" alt="">
            <img src="../assets/icons/husky_ic.svg" alt="">
        </div>
    </div>
</div>