@use "../../abstracts/" as *;

.agency{
    width: 100%;
    padding-bottom: 20%;
    padding-top: 7rem;
    @include flex-element;
    @include lg{
        gap: 3rem;
    }
    @include md{
        flex-direction: column;
        gap: 4rem;
    }

}
.agency-left{
    width: 47%;
    @include flex-element($justify: space-around);
    flex-direction: column;
    @include lg{
        width: 60%;
    }
    @include md{
        width: 100%;
        padding: 0;
    }
  
}
.agency-left h2{
    width: 100%;
    font-family: 'Inter-Bold';
    font-size: 54px;
    color: white;
    line-height: 6rem;
    @include md{
        font-size: 37px;
        text-align: center;
    }
    @include sm{
        line-height: 4.1rem;
    }
}
.agency-left b{
    @include gradient;
}
.agency-left p{
    font-family: 'Inter-Regular';
    font-size: 18px;
    color: #E8E8E8;
    line-height: 2.5rem;
    @include md{
        font-size: 14px;
        text-align: center;
    }
}
.butt{
    display: flex;
    gap: 10px;
    @include md{
        display: none;
    }
   
}
.butt-left:hover, .butt-right:hover{
    @include greenbutton;
}
.butt-right, .butt-left{
    border: 2px solid #B9F2A1;
    color: white;
    width: 18.7rem;
    height: 6rem;
    border-radius: 10px;
    @include center;
    font-family: 'Inter-SemiBold';
    font-size: 18px;
}
.agency img{
    @include md{
        margin: auto;
    }
}
.butt-2{
    display: none;
    @include md{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: auto;
    }
}
