@use '../../abstracts' as *;

.contact{
    margin-top: 5rem;
    background-color: #B9F2A159;
    padding: 7rem 10rem;
    @include lg{
        padding: 7rem 5rem;
    }
    @include md{
        padding: 5rem 2rem;
    }
}
.contact h2{
    font-family: 'Inter-Bold';
    font-size: 48px;
    @include center;
    margin-bottom: 10rem;
    @include md{
        display: none;
    }
}
.form{
    margin: 0 15%;
    @include flex-element;
    gap: 6rem;
    @include lg{
        margin: 0 2%;
    }
    @include md{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}
.input-left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include md{
        order: 2;
        margin: 0 auto;
    }

}
.name{
    @include flex-element;
}
.input-left input, .input-left textarea{
    background: linear-gradient(rgb(231, 250, 222),rgb(231, 250, 222)) padding-box,
    linear-gradient(180deg, #659365 0%, #184447 100%) border-box;
    padding: 1.3rem 1.8rem;
    border-radius: 8.65rem;
}
.name > input, .input-left > input:nth-child(2), .input-left textarea
{
    border: 3px solid transparent;
    font-family: 'Roboto-Bold';
    font-size: 18px;
    color: #7A7A7A;
}
.input-left textarea{
    height: 18rem;
    border-radius: 2rem;
    outline: none;
    resize: none;
}
.name > input{
    width: 45%;
}
.input-left button{
    @include greenbutton;
    margin: auto;
}
.box-right h6{
        display: none;
        font-family: 'Inter-Bold';
        font-size: 36px;
        @include center;
        color: white;
        @include md{
            height: fit-content;
            display: inline;

        }
}
.box-right{
    align-items: center;
    @include flex-element($justify: space-evenly);
    flex-direction: column;
    gap: 4rem;
    background: linear-gradient(90deg, #164246 0%, #629064 100%);
    padding: 6rem 5rem;
    border-radius: 7px;
    @include md{
        order: 1;
        margin: auto;
        padding: 8rem;
        gap: 6rem;
    }
    @include xs{
        padding: 6rem 2rem;
    }
}
