@use '../../abstracts' as *;

.contact{
    margin-top: 5rem;
    background-color: #B9F2A159;
    padding: 5rem 10rem;
}
.contact h2{
    font-family: 'Inter-Bold';
    @include font(48px, bold);
    @include center;
    margin-bottom: 10rem;
}
.form{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.input-left{
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto 0;
}
.name{
    display: flex;
    justify-content: space-between;
}
.input-left input, .input-left textarea{
    background: linear-gradient(rgb(231, 250, 222),rgb(231, 250, 222)) padding-box,
    linear-gradient(180deg, #659365 0%, #184447 100%) border-box;
    padding: 1.3rem 1.8rem;
    border-radius: 8.65rem;
}
.name > input, .input-left > input:nth-child(2), .input-left textarea
{
    border: 3px solid transparent;
    font-family: 'Roboto-Bold';
    @include font(1.8rem,normal);
}
.input-left textarea{
    height: 18rem;
    border-radius: 2rem;
    outline: none;
    resize: none;
}
.name > input{
    width: 45%;
}
.input-left button{
    @include greenbutton;
    margin: auto;
}
.box-right{
    width: 38%;
    height: 48.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4rem;
    background: linear-gradient(90deg, #164246 0%, #629064 100%);
    padding: 6rem 5rem;
    border-radius: 7px;

}