@use "../../abstracts/" as *;

.plan{
    background: #B9F2A159;
    height: fit-content;
    padding: 5rem 10rem;
}
.ourplan{
    @include center;
    
}
.ourplan h2{
    font-family: 'Inter-Bold';
    @include font(48px, bold);
}
.ourplan p{
    @include lorem;
    line-height: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
}
.plan-box{
    width: 78%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-items: center;
}
.box1, .box2, .box3{
    width: 39rem;
    height: 67rem;
    border-style: solid;
    border-color: #659365;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 13px 20px 0px #00000026;
    padding: 6rem 6rem;
}
.box1{
    border-width: 3px 0px 3px 3px;
}
.box2{
    height: 73rem;
    border-width: 3px;
}

.box3{
    border-width: 3px 3px 3px 0px;
    padding: 6rem 3rem;
    border-color: black;
}
.box1:hover, .box2:hover, .box3:hover{
    background: linear-gradient(195.44deg, #073340 3.29%, #659365 100%);
    color: white;
    .under h6{
        color: white;
    }
    .list-child img{
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(130deg) brightness(104%) contrast(102%);
    }
}
.box1 h2, .box2 h2, .box3 h2{
    @include center;
    font-family: 'Poppins-Regular';
    @include font(45px,normal);
}
.under{
    width: 35%;
    margin: auto;
    display: flex;
}
.under h6{
    margin-top: 20%;
    font-family: 'Poppins-Regular';
    @include font(20px, normal);
    color: #999999;
}
.under h3{
    font-family: 'Poppins-Medium';
    @include font(37px, normal);
}
.bott-box{
    width: 100%;
    margin-top: 4rem;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-child{
    display: flex;
    gap: 2rem;
    font-family: 'Poppins-Regular';
    @include font(20px, normal);
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}
.butt-plan{
    margin: auto;
    @include center;
    @include greenbutton;
    font-family: 'Inter-SemiBold';
    @include font(18px, normal);
    color: #000000;
}