@use '../../abstracts' as *;

.portfolio{
    height: fit-content;
    padding: 5rem 0;
}
.our-lio{
    @include center;
    padding: 0 3rem;
}
.our-lio h2{
    font-family: 'Inter-Bold';
    font-size: 48ox;
}
.our-lio p{
    padding: 0 15%;
    @include lorem;
    line-height: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
    @include md{
        margin-bottom: 6rem;
    }
    @include sm{
        padding: 0;
    }
}
.portfolio > div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(6, calc(100%/6));
    grid-template-rows: repeat(3, calc(100%/3));
    @include md{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}
