@use '../../abstracts' as *;

.portfolio{
    height: fit-content;
    padding: 5rem 0;
}
.our-lio{
    @include center;
    padding: 0 3rem;
}
.our-lio h2{
    font-family: 'Inter-Bold';
    @include font(48px, bold);
}
.our-lio p{
    @include lorem;
    line-height: 2.2rem;
    margin-top: 2rem;
    margin-bottom: 12rem;
}


